@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Rajdhani:wght@500&family=Roboto:ital,wght@1,300&display=swap');

/* Reset das configurações gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    background-image: linear-gradient(to right, blueviolet, rgb(243, 144, 238), #ff7200, rgb(241, 234, 124),rgb(107, 245, 222));
}

.menu{
    display: flex;
    width: 100%;
}

.menu, section{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-nav ul li{
    list-style: none;
    display: inline-block;
}

.btnmenu{
    text-decoration: none;
    display: flex;
    width: 120px;
    height: 30px;
    margin: 2px;
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 15px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.btnmenu:hover{
    background-image: linear-gradient(to right, rgb(107, 245, 222), rgb(241, 234, 124));
    color: black;
}

.banner{
    padding: 10px;
    justify-content: center;
}

#img-clarence{
    width: 950px;
    height: 450px;
    border-radius: 20px;
}

.footer{
    width: 100%;
    height: 80px;
    margin-top: 10px;
    background-image: linear-gradient(to right, blueviolet,rgb(107, 245, 222));
    padding-top: 10px;
    justify-content: center;
}

p{
    font-weight: 550;
    font-size: 15px;
}

/* Responsividade mobile */

@media screen and (min-width:0px) and (max-width:500px){
    body{
        background-color: rgb(241, 234, 124);
    }

    header, section{
        padding-left: 3%;
        padding-right: 3%;
        flex-direction: column;
    }

    header nav ul li{
        flex-direction: column;
        width: 100%;
        height: 80px;
        font-size: 20px;
    }

    .btnmenu{
        width: 100%;
        height: 80px;
        font-size: 20px;
    }

    .btnmenu:hover{
        background-color:blueviolet;
        color: black;
    }

    #img-clarence{
        width: 100%;
        height: 50%;
        mix-blend-mode: darken;
    }

    .footer{
        width: 100%;
        height: 80px;
        background-color: rgb(241, 234, 124);
        margin-top: 10px;
        padding-top: 10px;
        justify-content: center;
    }
}

@media screen and (min-width:501px) and (max-width:900px) {
    body{
        background-color: rgb(245, 243, 224);
    }

    header, section{
        padding-left: 3%;
        padding-right: 3%;
        flex-direction: column;
    }

    header nav ul li{
        flex-direction: column;
        width: 100%;
        height: 80px;
        font-size: 20px;
    }

    .btnmenu{
        width: 100%;
        height: 80px;
        font-size: 20px;
    }

    .btnmenu:hover{
        background-color:rgb(183, 120, 243);
        color: rgb(255, 255, 255);
    }

    #img-clarence{
        width: 100%;
        height: 50%;
        mix-blend-mode: darken;
    }

    .footer{
        width: 100%;
        height: 80px;
        background-color: rgb(248, 246, 222);
        margin-top: 10px;
        padding-top: 10px;
        justify-content: center;
    }    
}